<h1>Product Request Triage Mailer</h1>
<p> The following product managers share the tasks of responding to incoming product requests in JIRA:</p>
<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
	<th>Triages</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%= participant.name %></td>
    <td><%= participant.position %></td>
	<td><%= participant.triages %></td>
    <td><%= link_to 'Show', participant %></td>
    <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
    <td><%= link_to 'Destroy', participant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_participant_path %>
