<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <p> At what URL can we can find this picture?</p>
    <%= f.text_field :url %>
  </div>
  
  <p>Which triagers can this picture be associated with?</p> 
  
  <% for participant in Participant.find(:all) %>
        <div>
                <%= check_box_tag "picture[participant_ids][]", participant.id, @picture.participants.include?(participant) %>
                <%= participant.name %>
        </div>
   <% end %>
   
  <p>If you check no boxes, we'll put the picture in a general pool and use it when a triager has no new pictures associated with them.</p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
