<p id="notice"><%= notice %></p>
<p>
	<img src="<%= @picture.url %>"/>
</p>
<p>
  <b>URL:</b>
  <%= @picture.url %>
</p>

<p>
  <b>Uses:</b>
  <%= @picture.uses %>
</p>

<p>
  <b>Participants:</b>
  <ul>
  <% @picture.participants.each do |participant| %>
  <li><%= participant.name %></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
